figure, figcaption {
	line-height: 0;
}
figcaption {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;

	width: 100%;
}
.stacked.animated figcaption {
	bottom: 0;
	-webkit-transition: 0.25s bottom;
	-moz-transition:    0.25s bottom;
	-ms-transition:     0.25s bottom;
	-o-transition:      0.25s bottom;
	transition:         0.25s bottom;
}
.animated:hover figcaption {
	bottom: 0 !important;
}